body {
  width: 100%;
  margin: 0;
  font-family: 'GothamLightRegular';
  line-height: 1.42857143;
}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
