.container-fluid {
   .division {
      height: 100%;
      overflow: hidden;
      .division-wrapper {
         position: relative;
      }
      .img-division {
         min-width: 100%;
         min-height: 100%;
         width: auto;
         height: auto;
      }
      .division-overlay {
         .agency {
            .content-agency {
               text-align: center;
            }
         }
         .lab {
            .content-lab {
               text-align: center;
            }
         }
         h2 {
            text-transform: uppercase;
            color: $blanco;
         }
         p {
            color: $blanco;
         }
      }
   }
   .what-we-do {
      @include span(12);
      background-color: $negro;
      .areas {
         @include span(12);
         .area {
            position: relative;
            &__link {
               background-size: cover;
               background-position: center;
               display: block;
               width: 100%;
               height: 100%;
               position: relative;
               color: transparent;
               text-decoration: none;
            }
            &__title {
               position: absolute;
               margin: 0;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               color: $blanco;
               text-transform: uppercase;
               font-size: 1.25rem;
            }
            &__hover {
               height: 100%;
               .title-bck {
                  position: relative;
                  height: 15%;
               }
               .description-bck {
                  position: relative;
                  height: 85%;
               }
               .title-txt {
                  position: absolute;
                  margin: 0;
                  color: $blanco;
                  text-transform: uppercase;
                  font-size: 1.15rem;
               }
               .description-txt {
                  position: absolute;
                  margin: 0;
                  color: $blanco;
               }
            }
         }
      }
   }
   .projects {
      background-color: $gris-oscuro;
      .title {
         color: $blanco;
         a {
            text-decoration: none;
            color: $blanco;
            cursor: pointer;
         }
      }
      .grid-projects {
         .contenedor1,
         .contenedor2,
         .contenedor3,
         .contenedor4,
         .contenedor5,
         .contenedor6,
         .contenedor7,
         .contenedor8 {
            position: relative;
            overflow: hidden;
            .name {
               position: absolute;
               color: $blanco;
               text-transform: uppercase;
               -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
               transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
            }
            .goToProject {
               position: absolute;
               -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
               transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
               a {
                  text-decoration: none;
                  padding: 6px 10px;
                  border: 1px solid #ffffff;
                  text-transform: uppercase;
                  color: $blanco;
                  &:hover {
                     background-color: rgba(255, 255, 255, 0.2);
                  }
               }
            }
         }

      }
   }
   .projects-mobile {
      background-color: $gris-oscuro;
      .title {
         color: $blanco;
         a {
            text-decoration: none;
            color: $blanco;
            cursor: pointer;
         }
      }
      .grid-projects {
         background-color: $gris-oscuro;
         .project {
            position: relative;
            overflow: hidden;
            .name {
               position: absolute;
               color: $blanco;
               text-transform: uppercase;
               -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
               transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
            }
            .goToProject {
               position: absolute;
               -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
               transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
               a {
                  text-decoration: none;
                  padding: 6px 10px;
                  border: 1px solid #ffffff;
                  text-transform: uppercase;
                  color: $blanco;
               }
            }
         }
      }
   }
}

.container-fluid {
   @include susy-breakpoint($phone, $susy) {
      @include span(12);
      .division{
         @include span(12);
         .division-wrapper {
            @include span(12);
         }
         .img-division {
            @include span(12);
            display: none;
         }
         .division-overlay {
            @include span(12);
            .agency {
               @include pad(1.5,1.5);
               @include span(12);
               background-color: $rojo-a;
               padding-top: 5%;
               padding-bottom: 5%;
               .content-agency {
                  @include pad(0,0);
                  @include span(12);
               }
            }
            .lab {
               @include pad(1.5,1.5);
               @include span(12);
               background-color: $rojo-l;
               padding-top: 5%;
               padding-bottom: 5%;
               .content-lab {
                  @include pad(0,0);
                  @include span(12);
               }
            }
            .icon {
               width: 60px;
               height: 60px;
               margin-bottom: 5%;
            }
            h2 {
               font-size: 1.3rem;
            }
            p {
               font-size: 0.9rem;
            }
         }
      }
      .what-we-do {
         .area {
            @include span(12);
            height: 75vw;
            &__hover {
               .title-bck {
                  height: 30%;
               }
               .description-bck {
                  height: 70%;
               }
               .title-txt {
                  top: 80%;
                  left: 50%;
                  transform: translate(-50%, -30%);
               }
               .description-txt {
                  top: 30%;
                  left: 50%;
                  transform: translate(-50%, -30%);
                  font-size: 0.9rem;
               }
            }
         }
      }
      .projects {
         @include span(12);
         .title {
            @include span(12);
            height: 160px;
            padding-top: 40px;
            h2 {
               font-size: 1.35rem;
               @include pad(0.5,0.5);
            }
         }
         .grid-projects {
            display: none;
         }
      }
      .projects-mobile {
         display: block;
         @include span(12);
         .title {
            @include span(12);
            height: 160px;
            padding-top: 40px;
            h2 {
               font-size: 1.5rem;
               @include pad(0.5,0.5);
            }
         }
         .grid-projects {
            @include span(12);
            .project {
               @include span(12);
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .left {
                  padding-top: 0.5em;
                  padding-left: 0.5em;
                  @include span(6);
                  .img-agency {
                     width: 45px;
                     height: 45px;
                  }
               }
               .right {
                  @include span(6);
                  .img-project {
                     @include span(12);
                  }
               }
               .name {
                  @include span(6);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 0.9rem;
               }
               .goToProject {
                  @include span(6);
                  bottom: -22%;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 0.8rem;
               }
            }
         }
      }
   }
   @include susy-breakpoint($tablet, $susy) {
      @include span(12);
      .division{
         @include span(12);
         .division-wrapper {
            @include span(12);
         }
         .img-division {
            @include span(12);
            display: block;
         }
         .division-overlay {
            @include span(12);
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            .agency {
               @include pad(0,0);
               @include span(6);
               background-color: transparent;
               padding-top: 10%;
               .content-agency {
                  @include pad(1.5,1.5);
                  @include span(9);
               }
            }
            .lab {
               @include pad(0,0);
               @include span(6);
               background-color: transparent;
               padding-top: 10%;
               .content-lab {
                  @include pad(4.5,1.5);
                  @include span(12);
               }
            }
            .icon {
               width: 100px;
               height: 100px;
               margin-bottom: 5%;
            }
            h2 {
               font-size: 1.25rem;
            }
            p {
               font-size: 1.0rem;
            }
         }
      }
      .what-we-do {
         .area {
            @include gallery(6 of 12);
            height: 30vw;
            &__hover {
               .title-bck {
                  height: 20%;
               }
               .description-bck {
                  height: 80%;
               }
               .title-txt {
                  top: 10%;
                  left: 50%;
                  transform: translate(-50%, -10%);
               }
               .description-txt {
                  top: 30%;
                  left: 25%;
                  transform: translate(-25%, -30%);
                  font-size: 0.9rem;
               }
            }
         }
      }
      .projects-mobile {
         display: none;
      }
      .projects {
         @include span(12);
         .title {
            @include span(12);
            height: 200px;
            padding-top: 60px;
            h2 {
               font-size: 1.5rem;
               @include pad(0.5,0.5);
            }
         }
         .grid-projects {
            display: block;
            @include span(12);
            .contenedor1 {
               @include span(4);
               height: 460px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(12);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(12);
                  .img-project {
                     @include pad(0.5,0.5);
                     @include span(12);
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.15rem;
               }
               .goToProject {
                  @include span(8);
                  bottom: -25%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 0.85rem;
               }
            }
            .contenedor2 {
               @include span(8);
               height: 230px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(6);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(6);
                  .img-project {
                     @include pad(0,0);
                     @include span(12);
                     height: 230px;
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.15rem;
               }
               .goToProject {
                  @include span(5);
                  bottom: -25%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 0.85rem;
               }
            }
            .contenedor3 {
               @include span(4);
               height: 230px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(4);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(8);
                  .img-project {
                     @include pad(0,0);
                     @include span(12);
                     height: 230px;
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.15rem;
               }
               .goToProject {
                  @include span(8);
                  bottom: -25%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 0.85rem;
               }
            }
            .contenedor5 {
               @include span(4 last);
               height: 460px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(12);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(12);
                  .img-project {
                     @include pad(0.5,0.5);
                     @include span(12);
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.15rem;
               }
               .goToProject {
                  @include span(8);
                  bottom: -25%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 0.85rem;
               }
            }
            .contenedor6 {
               @include span(8 first);
               height: 230px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(6);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(6);
                  .img-project {
                     @include pad(0,0);
                     @include span(12);
                     height: 230px;
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.15rem;
               }
               .goToProject {
                  @include span(5);
                  bottom: -25%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 0.85rem;
               }
            }
         }
      }
   }
   @include susy-breakpoint($desktop, $susy) {
      @include span(12);
      .division{
         @include span(12);
         .division-wrapper {
            @include span(12);
         }
         .img-division {
            @include span(12);
            display: block;
         }
         .division-overlay {
            @include span(12);
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            .agency {
               @include pad(0,0);
               @include span(6);
               padding-top: 15%;
               .content-agency {
                  @include pad(2,2);
                  @include span(8);
               }
            }
            .lab {
               @include pad(0,0);
               @include span(6);
               padding-top: 15%;
               .content-lab {
                  @include pad(6,2);
                  @include span(12);
               }
            }
            .icon {
               width: 120px;
               height: 120px;
               margin-bottom: 5%;
            }
            h2 {
               font-size: 1.65rem;
            }
            p {
               font-size: 1.2rem;
            }
         }
      }
      .what-we-do {
         .area {
            @include gallery(3 of 12);
            height: 40vw;
            &__hover {
               .title-bck {
                  height: 15%;
               }
               .description-bck {
                  height: 85%;
               }
               .title-txt {
                  top: 80%;
                  left: 50%;
                  transform: translate(-50%, -80%);
               }
               .description-txt {
                  top: 25%;
                  left: 35%;
                  transform: translate(-35%, -25%);
                  font-size: 1rem;
               }
            }
         }
      }
      .projects-mobile {
         display: none;
      }
      .projects {
         @include span(12);
         .title {
            @include span(12);
            height: 200px;
            padding-top: 60px;
            h2 {
               font-size: 1.5rem;
               @include pad(0.5,0.5);
            }
         }
         .grid-projects {
            display: block;
            @include span(12);
            .contenedor1 {
               @include span(4);
               height: 600px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(12);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(12);
                  .img-project {
                     @include pad(0.5,0.5);
                     @include span(12);
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.3rem;
               }
               .goToProject {
                  @include span(5);
                  bottom: -20%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.0rem;
               }
            }
            .contenedor2 {
               @include span(8);
               height: 300px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(6);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(6);
                  .img-project {
                     @include pad(0,0);
                     @include span(12);
                     height: 300px;
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.3rem;
               }
               .goToProject {
                  @include span(5);
                  bottom: -20%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.0rem;
               }
            }
            .contenedor3 {
               @include span(4);
               height: 300px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(4);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(8);
                  .img-project {
                     @include pad(0,0);
                     @include span(12);
                     height: 300px;
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.3rem;
               }
               .goToProject {
                  @include span(5);
                  bottom: -20%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.0rem;
               }
            }
            .contenedor5 {
               @include span(4 last);
               height: 600px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(12);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(12);
                  .img-project {
                     @include pad(0.5,0.5);
                     @include span(12);
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.3rem;
               }
               .goToProject {
                  @include span(5);
                  bottom: -20%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.0rem;
               }
            }
            .contenedor6 {
               @include span(8 first);
               height: 300px;
               &:hover {
                  cursor: pointer;
                  .name {
                     bottom: 55px;
                  }
                  .goToProject {
                     bottom: 15px;
                  }
               }
               .icon-agency {
                  @include span(6);
                  padding: 5%;
                  .img-agency {
                     width: 50px;
                     height: 50px;
                  }
               }
               .image {
                  @include span(6);
                  .img-project {
                     @include pad(0,0);
                     @include span(12);
                     height: 300px;
                  }
               }
               .name {
                  @include span(5);
                  bottom: 15px;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.3rem;
               }
               .goToProject {
                  @include span(5);
                  bottom: -20%;;
                  left: 0;
                  padding-left: 0.5em;
                  font-size: 1.0rem;
               }
            }
         }
      }
   }
}
