.footer {
   height: 100%;
   overflow: hidden;
   .footer-wrapper {
      position: relative;
   }
   .img-footer {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
   }
   .footer-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
   }
   .title-footer {
      color: $blanco;
      text-transform: uppercase;
   }
   .schema {
      p {
         color: $blanco;
         margin: 0;
      }
      a {
         color: $blanco;
      }
   }
   .follow {
      .follow-icons {
         .single-follow-icon {
            float: left;
            &:hover {
               background-color: rgba(255, 255, 255, 0.1);
            }
            a {
               text-decoration: none;
            }
         }
      }
   }
}

.footer {
   @include susy-breakpoint($phone, $susy) {
      @include span(12);
      .footer-wrapper {
         @include span(12);
      }
      .img-footer {
         @include span(12);
      }
      .footer-overlay {
         @include span(12);
      }
      .schema {
         @include span(5 first);
         padding-top: 3%;
         padding-left: 3%;
         p {
            font-size: 0.5rem;
         }
         .tel {
            margin-bottom: 5%;
         }
      }
      .follow {
         @include span(6 last);
         padding-top: 3%;
         .follow-icons {
            .single-follow-icon {
               height: 26px;
               margin-right: 10px;
               -moz-border-radius: 13px;
               -webkit-border-radius: 13px;
               border-radius: 13px;
               -khtml-border-radius: 13px;
               a {
                  img {
                     height: 26px;
                  }
               }
            }
         }
      }
      .title-footer {
         font-size: 0.8rem;
         margin-bottom: 5%;
      }
   }
   @include susy-breakpoint($tablet, $susy) {
      @include span(12);
      .footer-wrapper {
         @include span(12);
      }
      .img-footer {
         @include span(12);
      }
      .footer-overlay {
         @include span(12);
      }
      .schema {
         @include span(3 first);
         padding-top: 5%;
         padding-left: 3%;
         p {
            font-size: 0.85rem;
         }
         .tel {
            margin-bottom: 10%;
         }
      }
      .follow {
         @include span(4 last);
         padding-top: 5%;
         .follow-icons {
            .single-follow-icon {
               height: 36px;
               margin-right: 20px;
               -moz-border-radius: 18px;
               -webkit-border-radius: 18px;
               border-radius: 18px;
               -khtml-border-radius: 18px;
               a {
                  img {
                     height: 36px;
                  }
               }
            }
         }
      }
      .title-footer {
         font-size: 1.2rem;
         margin-bottom: 15%;
      }
   }
   @include susy-breakpoint($desktop, $susy) {
      @include span(12);
      .footer-wrapper {
         @include span(12);
      }
      .img-footer {
         @include span(12);
      }
      .footer-overlay {
         @include span(12);
      }
      .schema {
         @include span(3 first);
         padding-top: 5%;
         padding-left: 3%;
         p {
            font-size: 1rem;
         }
         .tel {
            margin-bottom: 10%;
         }
      }
      .follow {
         @include span(4 last);
         padding-top: 5%;
         .follow-icons {
            .single-follow-icon {
               height: 46px;
               margin-right: 25px;
               -moz-border-radius: 23px;
               -webkit-border-radius: 23px;
               border-radius: 23px;
               -khtml-border-radius: 23px;
               a {
                  img {
                     height: 46px;
                  }
               }
            }
         }
      }
      .title-footer {
         font-size: 1.5rem;
         margin-bottom: 15%;
      }
   }
}
