.que-hacemos{
	.header{
		height:180px;
		background-color:#000;
		color:#fff;
		padding:50px;
	}
	.sections-container{
		background-color:#000;
		height:500px;
		.section{
			transition:opacity .4s;
			opacity:0.3;
			height:320px;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
		}
	}
	.section-text{
		font-weight:bold;
		margin-top:-170px;
		color:#fff;
	}
	.section:hover{
		opacity:1;
		cursor:pointer;
	}
	#estrategia{
		background-image:url('/images/hacemos/que-hacemos1-hover.jpg');
	}
	#experiencia{
		background-image:url('/images/hacemos/que-hacemos2-hover.jpg');
	}
	#desarrollo{
		background-image:url('/images/hacemos/que-hacemos3-hover.jpg');
	}
	#randd{
		background-image:url('/images/hacemos/que-hacemos4-hover.jpg');
	}
	.section-description{
		display:none;
		.description-icon{
			font-size:60px;
		}
		.description-title{
			font-size:24px;
			font-weight:bold;
		}
		.description-text{
			font-size:16px;
		}
	}
	#randd-description{
		.description-icon{
			padding-top:10px;
			font-size:42px;
		}
	}
	#desarrollo-description{
		.description-icon{
			padding-top:10px;
			font-size:46px;
		}
	}
}