body {
  width: 100%;
  margin: 0;
  font-family: 'GothamLightRegular';
  line-height: 1.42857143; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.menu-kamikaze-home {
  position: fixed;
  top: -70px;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.94);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; }

@media (min-width: 768px) {
  .menu-kamikaze-home {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }

.fold {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 99;
  padding-top: 0;
  overflow: hidden; }
  .fold .video-wrapper {
    height: 100%;
    position: relative; }
  .fold .background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #000; }
  .fold .video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4; }
  .fold .fold-detail {
    position: absolute;
    top: 50%;
    left: 50%; }
    .fold .fold-detail .intro-text {
      text-align: center;
      color: #fff; }
  .fold .scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -26px;
    width: 52px;
    height: 52px; }

@media (min-width: 768px) {
  .fold {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .fold .video-wrapper {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .fold .background-video {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .fold .video-overlay {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .fold .fold-detail {
      padding-left: 8.33333%;
      padding-right: 8.33333%;
      width: 83.33333%;
      float: left;
      margin-left: -41.6%;
      margin-top: -10%; }
      .fold .fold-detail .img-logo {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; }
      .fold .fold-detail .intro-text {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0.5em;
        font-size: 1.2rem; } }

.container-fluid .division .agency {
  background-color: #d92830; }

.container-fluid .division .lab {
  background-color: #c41f25; }

.container-fluid .what-we-do {
  background-color: #000; }
  .container-fluid .what-we-do .text {
    color: #fff; }

.container-fluid .areas .area {
  background-color: #c41f25; }

.container-fluid .projects {
  background-color: #2f2f2f; }
  .container-fluid .projects .title {
    color: #fff; }

@media (min-width: 768px) {
  .container-fluid {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .container-fluid .division {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .container-fluid .division .agency {
        width: 50%;
        float: left;
        height: 600px; }
      .container-fluid .division .lab {
        width: 50%;
        float: left;
        height: 600px; }
    .container-fluid .what-we-do {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .container-fluid .what-we-do .text {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        height: 230px;
        padding-top: 70px; }
        .container-fluid .what-we-do .text h2 {
          padding-left: 4.16667%;
          padding-right: 4.16667%; }
    .container-fluid .areas {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .container-fluid .areas .area {
        width: 25%;
        float: left;
        height: 200px; }
        .container-fluid .areas .area:nth-child(4n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .container-fluid .areas .area:nth-child(4n + 2) {
          margin-left: 25%;
          margin-right: -100%;
          clear: none; }
        .container-fluid .areas .area:nth-child(4n + 3) {
          margin-left: 50%;
          margin-right: -100%;
          clear: none; }
        .container-fluid .areas .area:nth-child(4n + 4) {
          margin-left: 75%;
          margin-right: -100%;
          clear: none; }
    .container-fluid .projects {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .container-fluid .projects .title {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        height: 230px;
        padding-top: 70px; }
        .container-fluid .projects .title h2 {
          padding-left: 4.16667%;
          padding-right: 4.16667%; }
      .container-fluid .projects .grid-projects {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }

.home-intro {
  height: 500px;
  padding-top: 150px;
  background-color: #333;
  background-image: url("/images/animated/tumblr_static_header-gif2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: -30px;
  overflow: hidden; }
  .home-intro .intro-content {
    margin-top: 10px; }
    .home-intro .intro-content img {
      margin-bottom: 20px; }
    .home-intro .intro-content .intro-text {
      font-size: 24px;
      max-width: 650px;
      margin: 10px auto;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px;
      border-radius: 8px; }

.home-agencia {
  height: 500px; }
  .home-agencia .agencia-left {
    height: 500px;
    background-color: #D92830;
    padding-top: 150px;
    color: #fff; }
    .home-agencia .agencia-left .fa.fa-rocket {
      font-size: 80px; }
  .home-agencia .agencia-right {
    height: 500px;
    background-color: #C41F25;
    padding-top: 150px;
    color: #fff; }
    .home-agencia .agencia-right .fa.fa-flask {
      font-size: 80px; }
  .home-agencia .agencia-text {
    max-width: 500px;
    margin: 20px auto;
    font-size: 16px; }

.que-hacemos .header {
  height: 180px;
  background-color: #000;
  color: #fff;
  padding: 50px; }

.que-hacemos .sections-container {
  background-color: #000;
  height: 500px; }
  .que-hacemos .sections-container .section {
    transition: opacity .4s;
    opacity: 0.3;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.que-hacemos .section-text {
  font-weight: bold;
  margin-top: -170px;
  color: #fff; }

.que-hacemos .section:hover {
  opacity: 1;
  cursor: pointer; }

.que-hacemos #estrategia {
  background-image: url("/images/hacemos/que-hacemos1-hover.jpg"); }

.que-hacemos #experiencia {
  background-image: url("/images/hacemos/que-hacemos2-hover.jpg"); }

.que-hacemos #desarrollo {
  background-image: url("/images/hacemos/que-hacemos3-hover.jpg"); }

.que-hacemos #randd {
  background-image: url("/images/hacemos/que-hacemos4-hover.jpg"); }

.que-hacemos .section-description {
  display: none; }
  .que-hacemos .section-description .description-icon {
    font-size: 60px; }
  .que-hacemos .section-description .description-title {
    font-size: 24px;
    font-weight: bold; }
  .que-hacemos .section-description .description-text {
    font-size: 16px; }

.que-hacemos #randd-description .description-icon {
  padding-top: 10px;
  font-size: 42px; }

.que-hacemos #desarrollo-description .description-icon {
  padding-top: 10px;
  font-size: 46px; }

.home-proyectos {
  height: 400px; }
  .home-proyectos .header {
    background-color: #C41F25;
    height: 170px;
    padding-top: 50px;
    padding-left: 60px;
    color: #fff;
    font-weight: bold;
    margin-top: -2px; }
  .home-proyectos .proyectos-container .proyecto {
    overflow: hidden; }
  .home-proyectos .proyectos-container .proyecto-content {
    padding: 30px;
    width: 100%; }
  .home-proyectos .proyectos-container .proyecto-tall1 {
    position: relative;
    background-color: #F16532;
    height: 500px; }
    .home-proyectos .proyectos-container .proyecto-tall1 img {
      margin: 0px auto;
      width: 90%;
      height: auto; }
  .home-proyectos .proyectos-container .proyecto-wide1 {
    position: relative;
    background-color: #8EB4BD;
    height: 250px; }
    .home-proyectos .proyectos-container .proyecto-wide1 img {
      float: right;
      margin: -30px 40px 0px 0px;
      width: 340px;
      height: auto; }
  .home-proyectos .proyectos-container .proyecto-small-left1 {
    background-color: #CFCBD2;
    height: 250px; }
    .home-proyectos .proyectos-container .proyecto-small-left1 img {
      float: right;
      margin-right: -45px;
      margin-top: -20px; }
  .home-proyectos .proyectos-container .proyecto-small-right1 {
    background-color: #0F4C81;
    height: 250px; }
    .home-proyectos .proyectos-container .proyecto-small-right1 img {
      float: right;
      margin-right: -45px;
      margin-top: -20px; }
  .home-proyectos .proyectos-container .proyecto-divider {
    padding-left: 0px;
    padding-right: 0px; }
  .home-proyectos .proyectos-container .proyecto-tall2 {
    background-color: #F16532;
    height: 500px; }
    .home-proyectos .proyectos-container .proyecto-tall2 img {
      margin: 0px auto;
      width: 90%;
      height: auto; }
  .home-proyectos .proyectos-container .proyecto-wide2 {
    background-color: #BF2B49;
    height: 250px; }
    .home-proyectos .proyectos-container .proyecto-wide2 img {
      float: right;
      margin: -30px 40px 0px 0px;
      width: 340px;
      height: auto; }
  .home-proyectos .proyectos-container .proyecto-small-left2 {
    background-color: #CFCBD2;
    height: 250px; }
    .home-proyectos .proyectos-container .proyecto-small-left2 img {
      float: right;
      margin-right: -45px;
      margin-top: -20px; }
  .home-proyectos .proyectos-container .proyecto-small-right2 {
    background-color: #0F4C81;
    height: 250px; }
    .home-proyectos .proyectos-container .proyecto-small-right2 img {
      float: right;
      margin-right: -45px;
      margin-top: -20px; }
  .home-proyectos .proyectos-container .proyecto-title-container {
    position: absolute;
    bottom: 35px;
    left: 40px; }
    .home-proyectos .proyectos-container .proyecto-title-container .proyecto-title {
      text-transform: uppercase;
      color: #fff;
      max-width: 250px; }
    .home-proyectos .proyectos-container .proyecto-title-container .btn-proyecto {
      background-color: transparent;
      border: thin solid #fff;
      color: #fff;
      text-transform: uppercase;
      border-radius: 0px; }
      .home-proyectos .proyectos-container .proyecto-title-container .btn-proyecto:hover {
        background-color: rgba(255, 255, 255, 0.4); }

body {
  font-family: 'Raleway', sans-serif; }

#header {
  margin-top: 30px; }

.footer {
  height: 200px;
  padding: 40px;
  border-top: 1px solid #eeeeee;
  color: #fff;
  background-image: url("/images/footer-bg.jpg"); }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.navbar-main {
  transition: all .4s;
  background-color: rgba(255, 255, 255, 0.9);
  height: 80px;
  padding: 10px;
  overflow: hidden;
  margin-top: -80px; }
  .navbar-main .navbar-brand img {
    max-height: 23px; }
